body {
	background-image: url('../img/greyz.png');
}
body p {
	font-family: "Lato", sans-serif;
}
body h1, h2, h3, h4 {
	font-family: "Arvo", sans-serif;
}

.wrapper {
	width: 600px;
	margin: 0 auto;
}

.header{
	text-align: center;
}
.header img {
	display: block;
	margin: 80px auto 20px auto;
	max-width: 200px;
	min-width: 100px;
}
.header h1 {
	font-family: "Arvo", sans-serif;
	text-align: center;
	display: block;
}

.about {

}

.works {

}
.works h2 {
	text-align: center;
}
.works h3 {
	font-family: "Lato", sans-serif;
}

.contact {
	text-align: center;
}
.contact i {
	display: inline-block;
	font-size: 32px;
	padding: 0 10px;
}