body {
	background-image: url('../img/greyz.png');
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}
.header{
	background-image: url('../img/zwarte.png');
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
}
.name {
	color: white !important;
	display: inline-block;
}
.nav {
	position: relative;
	top: 30px;
	display: inline-block;
}
.nav ul {
	list-style-type: none;
	text-align: right;
}
.nav ul li {
	display: inline-block;
}
.nav ul li a {
	color: white;
	padding: 0 10px;
	font-size: 20px;
}
.about {
	margin-top: 100px;
}