body {
	background-image: url('../img/greyz.png');
}
body p {
	font-family: "Lato", sans-serif;
	color: #0b0b0b;
}
body h1, h2, h3, h4 {
	font-family: "Arvo", sans-serif;
	color: #0d0d0d;
}
body a {
	color: #94C7FF;
}
body a:hover {
	color: #489FFF;
}

.wrapper {
	max-width: 600px;
	margin: 0 auto;
}
@media (max-width: 40em) {
	.wrapper {
		padding: 20px;
	}
}

.header{
	text-align: center;
	padding-bottom: 30px;
}
.header h1 {
	font-family: "Arvo", sans-serif;
	text-align: center;
	display: block;
	margin-top: 60px;
}
.header-image {
	width: 200px;
	height: 200px;
	margin: 80px auto 28px auto;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url("../img/paavonnaama.jpg") no-repeat;
	background-size: 200px;
	background-position: 0% 10%;
}

.about {
	padding-bottom: 30px;
}
.about-me {

}
.skills ul {
	list-style: none;
	margin-left: 0;
}
.skills ul li {
	font-size: 12px;
	font-weight: bold;
	color: white;
	display: inline-block;
	padding: 2px 6px;
	margin: 2px 0px;
	border-radius: 8px;
}
#strong { background-color: #24507F; }
#medium { background-color: #489FFF; }
#light { background-color: #94C7FF; }

.works {
	padding-bottom: 60px;
}
.works h2 {
	text-align: center;
	padding-bottom: 20px;
}
.works h3 {
	font-family: "Lato", sans-serif;
}
.works ul {
	list-style: none;
}
.works ul li {
	display: block;
	margin: 0;
	padding: 0;
}
.works li a img {
	width: 160px;
	margin: 0;
	padding: 0;
}
@media (max-width: 40em) {
	.works li a img {
		padding: 10px;
	}
}
.pic {
	position: relative;
	float: left;
}
.info {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: inline-block;
	opacity: 0;
	width: 160px;
	height: 160px;
	background: rgba(72,159,255,0.90);
	-ms-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}
.info h4 {
	color: white;
	padding-top: 40px;
	text-align: center;
}
.info p {
	color: white;
	font-size: 10px;
	text-align: center;
}

.pic:hover .info {
	opacity: 1;
	
}

.contact {
	text-align: center;
}
.contact h2 {
	text-align: center;
	margin-bottom: 16px;
}
.contact ul {
	list-style: none;
	margin-left: 0;
	margin-bottom: 80px;
}
.contact ul li {
	display: inline-block;
}
.contact a i {
	display: inline-block;
	font-size: 32px;
	padding: 0 10px;
}

/* Works sub-page */

.sub-header h1, .sub-header span, .sub-header a {
	display: inline-block;
}
.back {
	padding: 20px 0;
}
.wrapper iframe {
	margin-bottom: 20px;
}
@media (max-width: 40em) {
	.wrapper iframe{
		display: none;
	}
}
.work-article {
	padding: 20px 0;
}
.sub-page img {
	padding-right: 10px;
	padding-bottom: 10px;
}
