---
title: index
---

<html>
<head>
	<meta charset="utf-8">
	<title>Paavo Nelimarkka</title>
	<link rel="stylesheet" href="css/foundation.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<script src="js/vendor/modernizr.js"></script>
</head>
<body>

	<div class="wrapper">
		<header class="row header">
			<div class="large-12 columns">
				<div class="header-image"></div>
				<h1>Paavo Nelimarkka</h1>
			</div>
		</header>

		<section class="row about">
			<article class="large-7 columns about-me">
				{% for post in site.tags.about %}
		  			<p> {{ post.content }} </p>
		  		{% endfor %}
			</article>
			<article class="large-5 columns skills">
				{% for post in site.tags.skills %}
		  			<p> {{ post.content }} </p>
		  		{% endfor %}
			</article>
		</section>

		<section class="row works">
			<h2>Works</h2>
			<div class="large-12 columns">
			  	<ul>
			  		<li><a href="#"><img src="img/lisko.jpg" /></a></li>
			  		<li><a href="#"><img src="img/lisko.jpg" /></a></li>
			  		<li><a href="#"><img src="img/lisko.jpg" /></a></li>
			  		<li><a href="#"><img src="img/lisko.jpg" /></a></li>
			  		<li><a href="#"><img src="img/lisko.jpg" /></a></li>
			  	</ul>
		  	</div>
		</section>

		<section class="row contact">
			<div class="large-12 columns">
				<h2>Contact</h2>
				<ul>
					<li><a href="https://www.linkedin.com/in/paavonelimarkka"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="https://github.com/paavonelimarkka"><i class="fa fa-github"></i></a></li>
					<li><a href="https://twitter.com/paavonelimarkka"><i class="fa fa-twitter"></i></a></li>
				</ul>
			</div>
		</section>
	</div>

</body>
</html>